@import "../base/colors";
@import "../base/font";

/* ******* FIBROMYRELIEF 2023 FOOTER END ******* */
.footer_wrap [class*="scheme_"].sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item a:not(.sc_button):not([class*="button"]) {
    color: $white !important;
}
[class*="scheme_"].sidebar .sc_layouts_row_type_compact .socials_wrap .social_item .social_icon,
[class*="scheme_"].footer_wrap .sc_layouts_row_type_compact .socials_wrap .social_item .social_icon {
    color: $white !important;
    background-color: $fmr_blue !important;
}
.sc_layouts_row_type_compact .sc_layouts_item,
[class*="scheme_"].sc_layouts_row_type_compact .sc_layouts_item {
    color: #aaaaaa !important;
}
footer {
    .sc_layouts_row_type_narrow .sc_layouts_item a:not(.sc_button):not([class*="button"]),
    [class*="scheme_"].sc_layouts_row_type_narrow .sc_layouts_item a:not(.sc_button):not([class*="button"]) {
        color: $white !important;
    }

}
[class*="scheme_"].footer_wrap, .footer_wrap [class*="scheme_"].vc_row {
    background-color: #555 !important;
}
.elementor-18842 .elementor-element.elementor-element-4347202:not(.elementor-motion-effects-element-type-background),
.elementor-18842 .elementor-element.elementor-element-4347202 > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.elementor-18842 .elementor-element.elementor-element-4c8b8f54:not(.elementor-motion-effects-element-type-background),
.elementor-18842 .elementor-element.elementor-element-4c8b8f54 > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.elementor-18842 .elementor-element.elementor-element-67f2590d:not(.elementor-motion-effects-element-type-background),
.elementor-18842 .elementor-element.elementor-element-67f2590d > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.elementor-18842 .elementor-element.elementor-element-1bc6a37f:not(.elementor-motion-effects-element-type-background),
.elementor-18842 .elementor-element.elementor-element-1bc6a37f > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.elementor-18842 .elementor-element.elementor-element-1bc6a37f:not(.elementor-motion-effects-element-type-background),
.elementor-18842 .elementor-element.elementor-element-1bc6a37f > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.elementor-18842 .elementor-element.elementor-element-2139078c:not(.elementor-motion-effects-element-type-background),
.elementor-18842 .elementor-element.elementor-element-2139078c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #555 !important;
}
.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator {
    border-top: 1px solid $white !important
}



@media all and (max-width: 1024px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}
/* ******* FIBROMYRELIEF 2023 FOOTER END ******* */