@import "colors";

/* ******* FIBROMYRELIEF FONTS START ******* */

$fontfamily: 'museo-sans', sans-serif;

@mixin regular($fontfamily, $size) {
  font-family: $fontfamily;
  font-size: $size + px !important;
  font-weight: 300 !important;
}
@mixin italic($fontfamily, $size) {
  font-family: $fontfamily;
  font-size: $size + px !important;
  font-weight: 300 !important;
}
@mixin bold($fontfamily, $size) {
  font-family: $fontfamily;
  font-size: $size + px !important;
  font-weight: 500 !important;
}
@mixin extra-bold($fontfamily, $size) {
  font-family: $fontfamily;
  font-size: $size + px !important;
  font-weight: 700 !important;
}

/* ******* FIBROMYRELIEF FONTS END ******* */